* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}

.home,
.services,
.products,
/* 추가 */
.community,
.store,
.wtg,
.undefined,
.profile {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

.services {
    background-image: url('/public/images/img-2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
    margin-top: -80px;
}

.products {
    background-image: url('/public/images/img-1.jpg');
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
    margin-top: -80px;
}

.community {
    /* 추가 */
    background-image: url('/public/images/img-5.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
    margin-top: -80px;

}

.store {
    /* 추가 */
    background-image: url('/public/images/img-6.jpg');
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    color: black;
    font-size: 30px;
    margin-top: -80px;
}

.wtg {
    /* 추가 */
    background-image: url('/public/images/img-7.jpg');
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
    margin-top: -80px;
}

.msi{
    margin-top: -80px;
}