table {
    table-layout: fixed;
    word-break: break-all;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.wrapper {
    width: '85%';
    margin: '3rem auto';
}